body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(180deg, #111, #1c1c1c);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Helvetica Neue', sans-serif;
  color: white;
}

.center {
  text-align: center;
}

h1 {
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

p {
  font-size: 24px;
  opacity: 0.8;
}
